<%- include('../partials/header') %>
        <!-- INICIO MAIN -->
        <main id="create" class="container">
            <h2 class="create__title">CREAR NUEVO ITEM</h2>
            <form class="create__form" action="/admin/create" method="POST" enctype="multipart/form-data">
                <div class="form__flex form__product-family">
                    <div class="form__box--flex">
                        <label class="form__label" for="category">Categoría:</label>
                        <select class="form__select" name="category" id="category" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% categories.forEach( category => { %>
                            <option value="<%= category.category_id %>"><%= category.category_name %></option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="form__box--flex">
                        <label class="form__label" for="license">Licencia:</label>
                        <select class="form__select" name="license" id="license" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% licences.forEach( licence => { %>
                            <option value="<%= licence.licence_id %>"><%= licence.licence_name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="form__box--flex">
                    <label class="form__label" for="name">Nombre del producto:</label>
                    <input class="form__input create__form__input--large" type="text" name="name" id="name" placeholder="Kakashi Hatake Shippuden Saga" required>
                </div>

                <div>
                    <label for="description"></label>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto" required></textarea>
                </div>

                <div class="form__flex">
                    <div class="form__box--flex">
                        <label class="form__label" for="sku">SKU:</label>
                        <input class="form__input create__form__input--mid" type="text" name="sku" id="sku" placeholder="SSK111AB001" required>
                    </div>

                    <div class="form__box--flex">
                        <label class="form__label" for="price">Precio:</label>
                        <div class="form__input--wrapper"><input class="form__input create__form__input--mid" type="number" name="price" id="price" step=".01" placeholder="$ 0.000,00" required></div>
                    </div>

                    <div class="form__box--flex">
                        <label class="form__label" for="stock">Stock:</label>
                        <div class="form__input--wrapper"><input class="form__input create__form__input--small" type="number" name="stock" id="stock" placeholder="0" required></div>
                    </div>
                </div>

                <div class="form__flex">
                    <div class="form__box--flex">
                        <label class="form__label" for="discount">Descuento:</label>
                        <div class="form__input--wrapper"><input class="form__input create__form__input--small" type="number" name="discount" id="discount" placeholder="0%" required></div>
                    </div>

                    <div class="form__box--flex">
                        <label class="form__label" for="installments">Cuotas:</label>
                        <select class="form__select" name="installments" id="installments" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <option value="1">Contado</option>
                            <option value="3">3 cuotas sin interés</option>
                            <option value="6">6 cuotas con interés</option>
                            <option value="12">12 cuotas con mucho interés</option>
                        </select>
                    </div>
                </div>

                <div class="form__box--flex">
                    <label class="form__label" for="pictures">Imágenes:</label>
                    <input type="file" name="pictures" id="pictures" multiple required>
                </div>

                <div class="form__flex">
                    <input class="form__btn btn btn--primary btn--large" type="submit" value="Agregar Producto">
                    <input class="form__btn btn btn--primary btn--large" type="reset" value="Limpiar">
                </div>

            </form>
        </main>
        <!-- FIN MAIN -->
<%- include('../partials/footer') %>